-
    const programs = [
        {
            week: 'Неделя 1',
            title: 'Название программы',
            list: ['Что делать в сложившейся ситуации с капиталом, стоит ли доверять депозитам?', 'Почему доллар все это время падает и стоит ли его вообще покупать?', 'Стоит ли прятаться в облигациях на время турбулентности?', 'Что делать с акциям, если не успел выйти до коррекции?']
        },
        {
            week: 'Неделя 2',
            title: 'Название программы',
            list: ['Что делать в сложившейся ситуации с капиталом, стоит ли доверять депозитам?', 'Почему доллар все это время падает и стоит ли его вообще покупать?', 'Стоит ли прятаться в облигациях на время турбулентности?', 'Что делать с акциям, если не успел выйти до коррекции?']
        },
        {
            week: 'Неделя 3',
            title: 'Название программы',
            list: ['Что делать в сложившейся ситуации с капиталом, стоит ли доверять депозитам?', 'Почему доллар все это время падает и стоит ли его вообще покупать?', 'Стоит ли прятаться в облигациях на время турбулентности?', 'Что делать с акциям, если не успел выйти до коррекции?']
        },
        {
            week: 'Неделя 4',
            title: 'Название программы',
            list: ['Что делать в сложившейся ситуации с капиталом, стоит ли доверять депозитам?', 'Почему доллар все это время падает и стоит ли его вообще покупать?', 'Стоит ли прятаться в облигациях на время турбулентности?', 'Что делать с акциям, если не успел выйти до коррекции?']
        },
        {
            week: 'Неделя 5',
            title: 'Название программы',
            list: ['Что делать в сложившейся ситуации с капиталом, стоит ли доверять депозитам?', 'Почему доллар все это время падает и стоит ли его вообще покупать?', 'Стоит ли прятаться в облигациях на время турбулентности?', 'Что делать с акциям, если не успел выйти до коррекции?']
        },
        {
            week: 'Интерактив',
            list: ['Что делать в сложившейся ситуации с капиталом, стоит ли доверять депозитам?', 'Почему доллар все это время падает и стоит ли его вообще покупать?', 'Стоит ли прятаться в облигациях на время турбулентности?', 'Что делать с акциям, если не успел выйти до коррекции?']
        }
    ]

section.program
    .program__back.program__back-left
        +webp(['program/back-white'], 'png')
    .program__back.program__back-right
        +webp(['program/back'], 'png')
    .l-default 
        h2.program__title.title.title--h2 Программа курса
        .program__subtitle Действующий управляющий и аналитики расскажут:
        .program__items
            each program in programs
                .program__item.dropdown
                    .program__item-top.dropdown-top
                        .program__item-week= program.week
                        - if (program.title)
                            .program__item-title= program.title
                        .program__item-icon
                            img.lazy(data-src="img/svg/plus.svg", alt="")
                    .program__item-content.dropdown-content
                        .program__item-title--mobile
                        each list_item in program.list
                            .program__item-text= list_item