-
    const prices = [
        {
            img: '1',
            title: 'Самостоятельный',
            points: [
                {
                    title: 'Образование',
                    list: [
                        {
                            text: '12 вебинаров'
                        },
                        {
                            text: '11 методических материалов'
                        },
                        {
                            text: '3 домашних задания и 10 тестов'
                        },
                        {
                            text: '32 практические видеолекции'
                        },
                    ]
                },
                {
                    title: 'Общение и поддержка',
                    list: [
                        {
                            text: 'Доступ в общий чат',
                        },
                        {
                            text: 'Ответы на вопросы от спикеров и кураторов',
                        },
                        {
                            text: 'Обратная связь по домашним заданиям',
                        },
                    ]
                },
                {
                    title: 'Дополнительные опции',
                    list: [
                        {
                            text: 'Доступ к материалам в течение 6 месяцев',
                        },
                        {
                            text: 'Подписка на аналитику по российскому рынку на полгода + поддержка в боте',
                        },
                        {
                            text: 'Мини-курс: «Справедливая стоимость золота» и «Когда покупать доллар?»',
                        },
                        {
                            text: 'Доступ в VIP-чат с управляющими',
                            class: 'dark',
                        },
                        {
                            text: 'Личная консультация и разбор портфеля с одним из управляющих: Сергеем Пироговым, Иваном Беловым или Александром Сайгановым',
                            class: 'dark',
                        },
                    ],
                },
            ],
            price: '21 600 руб',
            priceOld: '24 000',
            href: 'order?content=42&amp;rate=56&amp;promocode=EDUCATION',
        },
        {
            img: '2',
            title: 'Базовый',
            points: [
                {
                    title: 'Образование',
                    list: [
                        {
                            text: '12 вебинаров'
                        },
                        {
                            text: '11 методических материалов'
                        },
                        {
                            text: '3 домашних задания и 10 тестов'
                        },
                        {
                            text: '32 практические видеолекции'
                        },
                    ]
                },
                {
                    title: 'Общение и поддержка',
                    list: [
                        {
                            text: 'Доступ в общий чат',
                        },
                        {
                            text: 'Ответы на вопросы от спикеров и кураторов',
                        },
                        {
                            text: 'Обратная связь по домашним заданиям',
                        },
                    ]
                },
                {
                    title: 'Дополнительные опции',
                    list: [
                        {
                            text: 'Доступ к материалам в течение 6 месяцев',
                        },
                        {
                            text: 'Подписка на аналитику по российскому рынку на полгода + поддержка в боте',
                            class: 'dark',
                        },
                        {
                            text: 'Мини-курс: «Справедливая стоимость золота» и «Когда покупать доллар?»',
                            class: 'dark',
                        },
                        {
                            text: 'Доступ в VIP-чат с управляющими',
                            class: 'dark',
                        },
                        {
                            text: 'Личная консультация и разбор портфеля с одним из управляющих: Сергеем Пироговым, Иваном Беловым или Александром Сайгановым',
                            class: 'dark',
                        },
                    ],
                },
            ],
            price: '14 850 руб',
            priceOld: '16 500',
            href: 'order?content=42&amp;rate=55&amp;promocode=EDUCATION',
        },
        {
            img: '3',
            title: 'VIP',
            points: [
                {
                    title: 'Образование',
                    list: [
                        {
                            text: '12 вебинаров'
                        },
                        {
                            text: '11 методических материалов'
                        },
                        {
                            text: '3 домашних задания и 10 тестов'
                        },
                        {
                            text: '32 практические видеолекции'
                        },
                    ]
                },
                {
                    title: 'Общение и поддержка',
                    list: [
                        {
                            text: 'Доступ в общий чат',
                        },
                        {
                            text: 'Ответы на вопросы от спикеров и кураторов',
                        },
                        {
                            text: 'Обратная связь по домашним заданиям',
                        },
                    ]
                },
                {
                    title: 'Дополнительные опции',
                    list: [
                        {
                            text: 'Доступ к материалам в течение 6 месяцев',
                        },
                        {
                            text: 'Подписка на аналитику по российскому рынку на полгода + поддержка в боте',
                        },
                        {
                            text: 'Мини-курс: «Справедливая стоимость золота» и «Когда покупать доллар?»',
                        },
                        {
                            text: 'Доступ в VIP-чат с управляющими',
                        },
                        {
                            text: 'Личная консультация и разбор портфеля с одним из управляющих: Сергеем Пироговым, Иваном Беловым или Александром Сайгановым',
                        },
                    ],
                },
            ],
            price: '44 100 руб',
            priceOld: '49 000',
            href: 'order?content=42&amp;rate=57&amp;promocode=EDUCATION',
        }
    ]