section.reviews
    .l-default  
        h2.reviews__title.title.title--h2 Отзывы
        .reviews__subtitle Мы обучили более  1 000 учеников!
        .reviews__slider-wrapper
            .reviews__slider-arrow.reviews__slider-arrow--prev
                +webp(['reviews/arrow'], 'png', 'lazy')
            .reviews__slider.swiper-container
                .swiper-wrapper
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Василий
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо за курс. Я на рынке уже более 4 лет, основное время занимаюсь внутридневной и чуть более торговлей. В части технического анализа думал, что ничего нового не услышу, но оказался не прав. Изучив основы фундаментального анализа, понял как их можно применять к коротким временным интервалам в торговле. Самое главное, я достиг новой цели и теперь могу смело рекомендовать своим родственникам направления движения в инвестициях, опираясь уже на собственные знания, а не только на рекомендации брокеров. Было бы интересно пройти еще какие-нибудь курсы более углубленного изучения интересных направлений.Так держать Герои!!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/1'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Николай
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Всей команде Invest Heroes огромное спасибо за проделанную работу, качественный материал и понятное объяснение всех нюансов и тонкостей для учеников. Курс реально «рабочий», без лишней «воды и мишуры». Ну и взаимодействие в чате тоже на высоте. Ответы на вопросы понятные и развёрнутые. Отдельное спасибо за «плюшки» в виде скидок на подписку. Всем удачи на бирже!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Евгения
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Уважаемые Герои, спасибо большое за курс! Очень много полезного, емкий и структурированный материал, помогающий сформировать системный подход к инвестированию. Macro matters, и теперь для меня очевидно, что пресловутая доходность должна базироваться на сути процессов, а не спорадическом выборе отдельных акций. Невероятно доступная подача материала, комфортный темп обучения, обратная связь 24/7 - все это сделало обучение с вами вдвойне увлекательным и приятным.И отдельное спасибо за административную поддержку и бонусы для участников - они очень мотивируют на дальнейшее погружение в тему. Желаю команде IH успехов, достижения новых вершин и надеюсь в скором будущем увидеть ваш лого в ряду топовых инвест-домов!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/2'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Ильдар
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Курс мне очень понравился, очень интенсивная подача материала. Своих денег он определенно стоит. Я, к сожалению, не могу оценить, на сколько он оказался бы для меня полезен, потому что из-за нехватки времени, а потом из-за отпуска, не смог полностью погрузиться в обучение, выполнять домашние задания, участвовать в обсуждениях и т.д. Но, например, курс подтолкнул меня к более близкому знакомству с фьючерсами, где я заработал больше, чем потратил на сам курс. Уже один этот факт полностью оправдывает потраченные средства.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/3'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Василий
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Курс отличный. У вас получилось собрать в одном месте весьма внушительный объем информации, с помощью которой можно научиться смотреть на фондовый рынок с хотя бы чуть-чуть приоткрытыми глазами, да еще и донести ее до слушателей в доступном виде. Вероятно, аналогичный объем информации можно собрать, потратив год-другой на регулярное чтение специальной литературы и регулярное набивание шишек (и сливание депозита) - но этот курс позволяет основательно сэкономить на этом и дать возможность подойти к трейдингу гораздо более вдумчиво.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/4'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Анна
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Курс очень понравился, хотя для меня, как для начинающей, было сложновато. Поэтому разборы домашних заданий, конечно, здорово помогли. Теория всегда усваивается лучше, когда подкрепляется практикой). Спасибо!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/5'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Виолетта
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо огромное за курс: было очень полезно, особенно раздел про макро. Реально очень ставит мозги на место. Обычно все рассказывают точечно про ситуацию или инструмент, не вписывая картину в общую картину мира, а здесь - все было от анализа макроэкономики до 30 секундных интервалах в теханализе. Огонь! Отдельное спасибо за детальнейшие ответы на любые, даже дурацкие вопросы
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/6'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Александра
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо за курс, очень много информации более углубленной, чем на обычных курсах по инвестициям. Но у меня будет критика. На мой взгляд очень много информации вмещается в один месяц обучения, хотелось бы иметь больше времени, чтобы освоить материал. Было ощущение, что я постоянно не успеваю. Если бы можно было чуть пореже делать лекции, думаю было бы больше возможности переварить такое количество информации. А так спасибо за курс и вашу аналитику, вы классные) уже вписалась в аналитику США
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/7'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Павел
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Очень полезный курс и новичкам, и более опытным инвесторам. На нем погружают в детали работы, которые позволяют сохранить и приумножить средства. В моем случае это была тема с облигациями, раскрыты нюансы, теперь я информирован, а значит, вооружен. Тема фьючерсов тоже очень подробно раскрыта, немного начал использовать данный инструмент в своей работе. Спасибо, команда Инвестиционных Героев, желаю Вам пополнения Вашего сообщества!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/9'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Егор
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Вы крутые ребята) Ни разу не пожалел, что выбрал вашу команду
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/10'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Екатерина
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Я хочу сказать большое спасибо за этот курс. Я только начинающий инвестор и мне было крайне важно узнать тонкости этой деятельности чтобы не совершать необдуманных поступков. На курсе огромный объём  полезной информации, все структурировано и по делу. Буду ещё пересматривать вебинары и обязательно подпишусь на вашу аналитику. Спасибо!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/11'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Вера
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Курс мне очень понравился. На курсе получила очень много полезной информации, которая была хорошо структурирована. Ранее был опыт получения знаний от других финансовых аналитиков, но Ваш понравился больше всего. Не всё понятно с первого раза, но я и дальше буду изучать инвестирование, а также взаимодействовать с Вашим сайтом.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/12'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Ольга
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Очень благодарна Героям за этот курс. Героизм, в первую очередь, проявляется в их отношении к каждому участнику, вовлеченности в дело, полной отдаче и открытости. Сам курс отлично структурирован, логичен и насыщен. Практическая составляющая переводит всю теорию в реальную плоскость. Да, он требует серьезной работы и готовности изучать большие объемы информации. Он задает нужное направление дальнейшего развития. И разница в восприятии информации на первом вебинаре и последнем меня удивила: был ощутимый прогресс. А поддержка Героев дает поверить, что я тоже смогу. Это отличная инвестиция в себя!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/13'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Павел
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо, Сергей и команда IH! Очень интересно было узнать много новой информации. Особенно интересно, когда профессионалы приоткрывают много важных аспектов работы с отчётностью компаний и целыми отраслями, которая для большинства начинающих инвесторов остаётся "тёмным лесом". Важным плюсом интенсива является разбор полученной информации на практических примерах в виде реальных компаний.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/14'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Светлана
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Дорогие Герои, спасибо вам огромное за прекрасный курс, подробные объяснения и стратегические решения!!!!!! Очень с вами интересно и познавательно!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/15'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Анж
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо большое за курс! Было очень интересно и для себя много что смогла взять! Жаль, что по болезни много пропустила... Спасибо за возможность повторить просмотр лекций. Вам желаю успехов! Вы лучшие)
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/16'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Гузель
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Вау, круто, спасибо большое за подарок! Было очень интересно, спасибо за знания и идеи, курс просто огонь и даже немного грустно, что закончился....вы лучшие
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/18'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Мария
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Огромное спасибо! С большим удовольствием слушала лекции! Ещё буду повторять! Благодаря подписке курс уже  окупился. Вы настоящие герои.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/19'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Сергей
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Замечательный курс!!! Огромное спасибо за то, что делитесь своими знаниями, опытом, успехом и ошибками. Всё это очень ценно. Благодарю!!!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/20'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Сергей
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Огромное спасибо за предоставленные знания! Благодаря вам, теперь есть системный подход к анализу.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/21'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Ирина
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Курс очень полезный! Особенно для молодых, современных людей! И пусть мне за 50, считаю, что и время и деньги потрачены не зря! Буду стараться развиваться вместе с Героями! Процветания вашей команде и нам всем!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/22'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Алёна
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо всей команде! Училась уже на нескольких курсах, но ваш побил все мои ожидания! Информация профессиональная, структурированная, насыщенная! Обратная связь своевременна. Планирую пройти курс повторно самостоятельно, самое главное, появилось понимание на что смотреть и как анализировать. Отдельное спасибо за аналитику на сайте!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/23'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Елена
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Присоединяюсь ко всем прекрасным отзывам. Огромное спасибо! Это было свежо, насыщенно, интересно. Столько тонкостей и нюансов. Пока курс будет в доступе еще не раз пересмотрю)
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Константин
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Простите но это единственная возможность написать благодарственное письмо команде IH. Спасибо вам за то что открыли для меня Америку. Спасибо команде IH за такую потрясающую возможность получить знания в области финансов и фондового рынка. К сожалению пишу вам не с просьбой записаться на курс (возраст не позволяет заниматься этим пока всерьез). Но еще раз благодарю всю команду Invest Heroes. Я уверен за вами будущее российской аналитики
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Дмитрий
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Итак, попробую сформулировать то, что понравилось и что нет. Курс я брал с двумя целями. Локальная: понятно, что в рамках курса вы, во многом, раскрываете и продаете свою подписку, соответственно, хотел понять, что из себя представляет команда героев и нужна ли мне эта самая подписка. Глобальная: пока я в состоянии зарабатывать при помощи своей основной профессии, я в качестве хобби коплю себе финансовую подушку, с помощью которой в будущем планирую, используя инструменты той или иной степени риска, обеспечить себе возможность получать "пенсию" с рынка, сопоставимую с текущими доходами, а не с тем убожеством, что предлагает наше государство в данный момент. Соответственно, какое-то количество знаний по теме финансов и рынка, тем более, знаний прикладных, мне всегда пригодится. С точки зрения этих целей и могу оценить плюсы и минусы :)
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Оксана
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Добрый день, Сергей! Спасибо огромное вашей команде за курс! Вы проделали огромную работу и дали достаточно глубокие знания и понимание, как надо действовать на рынке. Надо правильно воспользоваться этой информацией. Вы замечательные ребята и с вами приятно общаться. Удачи вам, процветания и профита
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Юлия
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text С инстаграмом, а потом и сайтом Invest Heroes я познакомилась весной этого года, когда взглянула в очередной раз на проценты по депозитам, всплакнула и начала активно интересоваться темой инвестирования. В материалах IH мне сразу понравилась глубина анализа ситуации совмещенная с простотой и доступностью подачи материала. Без сомнения записалась на интенсив и ни разу не пожалела. Курс превзошел все мои ожидания. Материала невероятно много, никакой "воды", все по делу, структурированно и полезно. Вебинары буду пересматривать еще не раз, чтобы уложить в голове всю информацию и принимать инвестрешения осознанно и обоснованно. Невозможно переоценить полезность общего чата для общения, комментарии Героев в нем. Все, что было спрошено, - было отвечено; все, что было неясно, - объяснено доступно и понятно.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Антонина
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Ребята, вы крутые! Я совсем нулевой новичок, и не скажу, что все было понятно с первого раза)))но пересматривая вебинары по второму-третьему разу, оседают в памяти ранее незнакомые термины, мультипликаторы приходилось заучивать)) ни капли не жалею потраченных денег на курс, затраты на обучение и подписку уже частично окупились)). Мой скромный портфель за месяц вырос на 9%, благодаря вашим рекомендациям. Спасибо за ваш колоссальный труд и поддержку!))
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Александр
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Редко оставляю отзывы, но тут считаю нужным выразить благодарность за курс. Изначально был определенный скептицизм, сейчас развелось очень много инфоцыган по теме инвестиций. Не умеешь заработать сам, иди учи. Эту пословицу тоже никто не отменял. Всегда были сомнения, зачем успешному трейдеру делиться знаниями с другими. Рад, что ошибся в случае с invest-heroes.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Анита
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Путь от «желания инвестировать» до «умения инвестировать» может быть долгим и тернистым – через ошибки, через тонны прочитанной информации и книг, через годы опыта, наработанного по крупицам. А может быть другим! Простым, понятным и результативным. Как такое возможно? Я для себя нашла ответ - курс «Основы инвестиций» от  Invest Heroes. Это путь из точки «А» в точку «Б» в сопровождении настоящих профессионалов, которые помогут разобраться во всех тонкостях биржевого дела. Это огромная экономия собственных сил и ресурсов, поскольку курс охватывает только самые важные и актуальные аспекты инвестирования, дает концентрированную информацию и предостерегает от возможных ошибок.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Наталия
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо Героям за курс! 
                            <br>1. Спасибо за тонны информации, системно разложенной и пошагово вложенной в мою голову. Я к инвестициям и экономике даже боком раньше не стояла. Чтение финансовой отчётности, оценка платежеспособности эмитента, индикаторы рынка и т.д., это был такой тёмный  лес для меня. Пересматриваю уроки – светлеет!))))))))  
                            <br>2. Спасибо за терпеливые ответы на вопросы. За множество лайфхаков, которыми делились ведущие Курса. Спасибо за профессионализм.  
                            <br>3. Отдельное спасибо за одновременно и рабочую, и удивительно душевную атмосферу. 
                            <br>4. И Спасибище, что инвестирование перестало быть для меня гаданием на кофейной гуще. 
                            <br>Резюме : ребята в точности следуют китайской мудрости, не дают рыбу голодным, а учат её ловить. И учат отлично!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Тамара
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Что касается курса, то я осталась очень довольна! Много нужной и полезной информации, без воды. Кратко, ёмко и понятно! Единственное, что мне структура материала недели 1 и 2 показалась слегка путаной. По мне, удобнее было бы полностью рассмотреть золото, потом доллар, потом акции, потом облигации. А на курсе рассмотрели эти инструменты, а потом снова их рассмотрели... Но это я исправила в собственном конспекте.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Светлана
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Я тоже присоединяюсь к благодарности. Ваш курс крутой. Хотя многое пока ещё сложновато, но пересматривая вебинары и пробуя все это применять на практике, думаю постепенно понимание придет. Вы действительно "даёте не рыбу, а удочку". Вы учите рассуждать, думать, видеть, прогнозировать. Все вебинары были очень ёмкие, непропитанные водой. С лёгкостью могу порекомендовать Ваш курс и буду уверена, что он будет полезен. Так держать! Успехов Вашей команде. Вы действительно герои
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Александр
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Курс очень понравился. Особенно подойдет новичкам. Информация подается грамотно, именно в том объеме, который необходим для старта. Нацелен на практику, много ценной информации. Очень понравилась подборка навыков на сайте. Хотелось бы, чтобы эта коллекция увеличивалась. Хорошей идеей было внедрение навыков в части, связанные с облигациями и ТА, было бы здорово добавить навыки в другие части. Спасибо команде InvestHeroes! Буду рекомендовать знакомым!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Наталия
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text ОГРОМНОЕ спасибо за те знания которые Ваша Команда  нам передали. Вся информация очень полезна, а самое главное, актуальна. Очень порадовало, что вы все даете на конкретных, текущих примерах. Если бы я решила сама во всем разобраться, то думаю у меня ушел бы на это год, а то и больше. И сколько живых денег на ошибках потеряла не известно. Благодаря теме "как собирать портфель и работать с рисками" навела порядок у себя в портфеле и поняла, что хочу в итоге. Вы все классные ребята, очень интересно рассказываете все на вебинарах. Меня поражает как вы может по 2,5 часа говорить и терпеливо отвечать на все вопросы. Видно, что вам нравится то что вы делаете и вам не все равно. Спасибо Вам! Успехов и удачи во всех начинаниях.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Светлана
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Совершенно случайно наткнулась на бесплатный марафон по инвестициям от команды INVEST HEROES. Т.к. я давно интересуюсь этой темой, то мимо пройти я не могла. Марафон вёл Сергей Пирогов. С первого дня марафона мне стало понятно, что Сергей - профессионал своего дела. Он  четко, достаточно подробно и с лёгкостью доносил нужную информацию, постоянно объясняя что-то с помощью  рисунков. Его рисунки - это вообще отдельная тема. За это Сергею отдельное спасибо. И я уже после первого дня поняла, что пойду обязательно на платный курс, а марафон понятно дело это предполагал. 
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Светлана
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Я ни капли не пожалела потраченных денег и времени. Ваш курс стоит намного больше. Я с радостью порекомендуете его знакомым и с точностью буду уверена, что он будет полезен. Я рада, что познакомилась с такой отличной командой. А на аналитику я обязательно подпишусь.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Елена
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Благодарю всю команду INVEST HEROES за отличную работу! Не ожидала,  что курс окажется таким ёмким и в то же время углублённым. Замечательно, что будет  доступ к материалам, многое хочется пересмотреть.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Евгения
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Команда IH-это команда харизматичных молодых профессионалов. Обучающий курс от IH оказался полезным для участников разного уровня. Наряду с базовыми знаниями, участники получили возможность глубже разобраться с инструментами ФА и ТА, а также срочного рынка. Кроме того, каждый вебинар освещалась ситуация в мире и на рынке, становилось понятным, что все следует рассматривать во взамосвязи. Хочу отметить, что действительно ощущалась полная поддержка со стороны всей команды. Напр. мне помогли сразу решить технические вопросы ваши специалисты, обращалась к Сергею и Светлане, остальные тоже все время были в доступе. Очень удобно, что сохраняются видеозаписи и все материалы. Можно будет поработать дополнительно и разобраться получше. На фоне большого предложения учебных курсов команда IH выглядит очень убедительно и профессионально. И симпатично!!! Огромное спасибо за вашу работу!!!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Дмитрий
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Ваш курс мне порекомендовал муж сёстры, который работает в сфере инвестиций уже не первый год Он также следит за вашей аналитикой, смотрит ютуб канал и читает ваши посты на сайте. Я с недавнего времени тоже начал увлекаться и первым делом скачал приложение одно брокера. После покупки парочки бумаг, я решил для себя, что хочу покупать бумаги осмысленно, а не черти как. Обратился к мужу сёстры, он скинул мне ссылку на ваш курс. В процессе обучения я открыл для себя много нового и интересно, появилось понимание по чтению отчетности компаний, узнал для себя что же это за страшные  буквы EBITDA, EV, P/E и т.д. Разобрался частично в облигациях, до этого не понимал почему цена облигаций примерно одинаковая и каким образом ее оценить, лекции по ТА очень интересны, но запомнить все фигуры.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Екатерина
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Отличный курс! С одной стороны понятный, с другой — без воды. Из него я узнала массу полезной информации, и не только о биржевых инструментах. Самое главное, сложилась общая картинка, на что обращать внимание при выборе бумаг. Что, если хочешь успешно инвестировать, нужно не только смотреть на мультипликаторы, но и на другие моменты, которые казалось бы не имеют прямого отношения к какой-то компании. И практика тоже очень пригодилась, стало понятнее как посчитать целевую цену. Спасибо вам и удачи в разработке новых курсов!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Ирина
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Как драгоценный камень нельзя отполировать без трения, так и человек не может стать успешным без знания и достаточного опыта. Команда Invest Herous помогает обрести эти знания в простой и понятной для каждого программе обучения. Шаг за шагом ты постигаешь основы инвестирования, можешь задать и получить подробный ответ на любой вопрос. Ребята из IH с невероятной отдачей стараются сделать все, чтобы каждый получил необходимые навыки для осознанного выбора инвестиционных идей. Дальнейшим потокам, желаю быть активными и вовлечёнными!!!От себя: всем огромное спасибо: Сергею Пирогову за невероятную атмосферу на вебинарах и профессионализм, аналитикам - мое безмерное уважение и благодарность за терпение в разборе наших ДЗ, аналитикам по рынку облигаций- вы очень крутые, так понятно стало)), тех аналитику, Вам Сергей Леньшин, спасибо большое за ‘прозрение’, теперь я тоже вижу ГиП, флаги и вымпелы. Спасибо 
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Евгений
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Краткий отзыв по итогам курса об основах инвестирования. Мне кажется, для совсем новичков на рынке - это очень полезный курс, охватывает основы во всех аспектах торговли, от генерации идей, до анализа и входа / выхода. Хоршо, что есть задания и оценки и обратная связь по итогам выполнения - помогает дисциплинированно подходить к занятиям. Рейтинг лучших тоже греет душу. Лично для меня большая часть вещей была уже знакома, я надеялся получить больше практики по темам генерации идей. Так что, возможно, в доработанном варианте стоит расширить эти моменты (генерация идей в акциях и торговля на основе фундаментального и технического анализа), может быть добавить практику - если, конечно, вы не считаете, что для большинства начинающих это будет слишком сложно. Ну либо более четко в описании курса прописывать, что это для тех кто совсем ничего не знает, а кто, скажем, изучал в институте корп финансы и оценку или кто работал / работает в IB, большой четверке или консалтинге многие вещи уже и так будут знать.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Геннадий
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Прошел 5 недельный курс обучения в ГЕРОЯХ. Только положительные отзывы!! - Хорошо и ДОХОДЧИВО раскрыты все темы технологий инвестирования. Практические занятия с обратной связью заставляют более глубоко входить в тему вопросов, что дает только дополнительные и положительные ресурсы для работы в будущем на фондовых рвнках. Подкупает ..ИХ аналитика компаний (подходы их прогнозирования и результаты). Желаю ГЕРОЯМ еще более развиваться и остаюсь ИХ преверженцем.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Наталья
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text В сентябре проходила курс "Основы инвестирования". Пока в области финансов являюсь совсем новичком. Хотелось бы отметить в связи с этим, что получила большое количество материала на понятном языке, что бы уже иметь базовое представление о том, как это работает. Нужно отметить, что ко всем курсантам команда IH относится с должным вниманием, тактично и  быстро отвечают на вопросы. В целом, очень понравился курс и ребята IH.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Эдуард
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Сейчас в природе существует бесчисленное количество всевозможных обучающих курсов, тренингов, семинаров. И, соответсвенно, их качество колышится от совсем «водных» до «информативных и полезных». Этот курс скорее относится ко вторым, нежели к первым. Почему? Потому как дана достаточно полная информация, без лишних ненужных деталей. Так же молодцы сами ребята, потому как объясняют все очень доступно и всегда идут на встречу.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Михаил
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Хорошая у Вас команда, пару лет за вами наблюдал, от других всех отписался..вы оказались самые крутые, марафон вообще огонь! Спасибо за обратную связь)
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Иван
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Курс очень классный. Много полезной информации, собранной компактно. Мне лично были интересны фундаментальный анализ, а также освещение, как выбрать компании и моменты, чтобы краткосрочно спекулировать. Теория, не оторванная от практики - очень ценно. Чат с возможностью задать вопрос - супер.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Наталья
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо Герои! Благодаря курсу я теперь поняла, что такое системный подход к торговле. Буду учиться применять на практике.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Артур
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Благодарю всю команду героев за прекрасный курс обучения... Ценные знания,легкость подачи и полезный опыт. Спасибо,вы классные!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Светлана
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо, за новые знания! Курс обучения классный! Здорово, что мы имеем возможность пользоваться материалом до 1 ноября. Я пока  не все успела освоить, буду изучать информацию дальше! Спасибо!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Александр
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Сердечно благодарю за данные знания, для меня все было структурированно, ясно и понятно. Я разобрался как читать отчеты компаний, на какие показатели смотреть. Понравился подход к макро оценке рыночной ситуации. Все супер!
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Сергей
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Здравствуйте. Курс мне понравился, было очень интересно узнать как это работает.  Я живу за границей и поэтому меня интересовали евро и американские бумаги.  В Европе тоже всплеск частного инвестирования и многие пытаются этим заниматься, несмотря на то, что это значительно менее выгодно, чем в России (из-за налогов). А информации нет, поэтому спасибо вам за ваш курс. Я получил даже больше чем планировал.
                    .reviews__slide.swiper-slide
                        .reviews__speaker
                            .reviews__speaker-img 
                                +webp(['reviews/no-user'], 'jpg', 'swiper-lazy')
                            .reviews__speaker-name Василий
                            .reviews__speaker-description начинающий инвестор
                        .reviews__peaker-text Спасибо за курс. Я на рынке уже более 4 лет, основное время занимаюсь внутридневной и чуть более торговлей. В части технического анализа думал, что ничего нового не услышу, но оказался не прав. Изучив основы фундаментального анализа, понял как их можно применять к коротким временным интервалам в торговле. Самое главное, я достиг новой цели и теперь могу смело рекомендовать своим родственникам направления движения в инвестициях, опираясь уже на собственные знания, а не только на рекомендации брокеров. Было бы интересно пройти еще какие-нибудь курсы более углубленного изучения интересных направлений.Так держать Герои!!
            .reviews__slider-arrow.reviews__slider-arrow--next
                +webp(['reviews/arrow'], 'png', 'lazy')
        .reviews__dots     
            img.lazy(data-src="img/svg/dots.svg", alt="")