-
    const what_items = [
        {
            img: '1',
            title: 'Стратегию',
            text: 'Найдете свой подход к инвестированию, и движения рынка больше не будут сбивать вас с толку',
        },
        {
            img: '2',
            title: 'Макро взгляд',
            text: 'Поймете, как события в экономике влияют на рынок и ваши активы',
        },
        {
            img: '3',
            title: 'Понимание рынка',
            text: 'Узнаете, почему рынок реагирует на новости тем или иным образом и как правильно интерпретировать события, предугадывать их',
        },
        {
            img: '4',
            title: 'Понимание оценки акций',
            text: 'Поймете, как анализировать компании и выбирать идеи в свой портфель',
        },
        {
            img: '5',
            title: 'Понимание оценки облигаций',
            text: 'Научитесь оценивать инвестпривлекательность облигаций и выбирать наиболее интересные в свой портфель',
        },
        {
            img: '6',
            title: 'Навык управления риском',
            text: 'Научитесь рассчитывать риск и управлять риском на портфель, соотносить его с ожидаемой доходностью',
        }
    ];

    const what_items_2 = [
        {
            img: '7',
            title: 'Во что можно инвестировать',
            text: 'Узнаете, как выбирать криптоактивы для своего портфеля',
        },
        {
            img: '8',
            title: 'Как безопасно хранить',
            text: 'Расскажем о самых надежных способах',
        },
        {
            img: '9',
            title: 'Как переводить и платить',
            text: 'Безопасно и с низкими издержками',
        }
    ];

section.what
    .l-default
        h2.what__title.title.title--h2 За 5 недель вы получите
        .what__subtitle Рынок ценных бумаг
        .what__items
            .what__items-wrapper
                each what_item in what_items 
                    .what__item
                        .what__item-img
                            +webp(['what/' + what_item.img], 'png')
                        .what__item-title= what_item.title
                        .what__item-text= what_item.text
        .what__subtitle Рынок криптовалют
        .what__items
            .what__items-wrapper
                each what_item_2 in what_items_2 
                    .what__item
                        .what__item-img
                            +webp(['what/' + what_item_2.img], 'png')
                        .what__item-title= what_item_2.title
                        .what__item-text= what_item_2.text