.what {
    padding: 101px 0 30px;
    @media screen and (max-width: 600px) {
        padding: 58px 0 50px;
    }
    &__title {
        margin-bottom: 45px;
    }

    &__subtitle {
        font-size: 42px;
        line-height: 120%;
        font-weight: 900;
        margin-bottom: 45px;

        @media screen and (max-width: 991px) {
            font-size: 24px;
        }
    }

    &__items {
        @media screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
        &:first-child {
            margin-bottom: 85px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-wrapper {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -15px;

            @media screen and (max-width: 991px) {
                flex-wrap: nowrap;
                margin: 0;
            }
        }
    }

    &__item {
        width: calc(33.3333% - 30px);
        margin: 0 15px 35px;

        @media screen and (max-width: 991px) {
            width: 251px !important;
            text-align: center; 
            margin: 0;
        }
        &-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 176px;
            height: 176px;
            margin-bottom: 32px;
            background: #fff;
            border: 3px solid rgba(55, 118, 176, 0.3);
            border-radius: 4px;
            padding: 20px;

            @media screen and (max-width: 991px) {
                margin: 0 auto;
                margin-bottom: 24px;
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 7px;
                right: -10px;    
                z-index: -1;
                border: 3px solid #c3d6e8;
                border-radius: 4px;
            }

            img {
                display: block;
                width: auto;
            }
        }

        &-title {
            font-size: 30px;
            line-height: 120%;
            font-weight: 900;
            color: #3776B0;
            margin-bottom: 18px;

            @media screen and (max-width: 991px) {
                font-size: 22px;
                margin-bottom: 14px;
            }
        }

        &-text {
            font-size: 18px;
            line-height: 120%;

            @media screen and (max-width: 991px) {
                font-size: 16px;
            }
        }
    }
}